In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
og_data = sns.load_dataset("iris")

In [7]:
data = og_data.copy()

In [9]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [11]:
f_var = data.iloc[:,:-1]
f_var

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [17]:
c_var = data.iloc[:,-1]
c_var

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [18]:
c_var = c_var.map({"setosa":0,"versicolor":1,"virginica":2})
c_var

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int64

In [21]:
import sklearn
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(f_var,c_var,test_size=0.2) #random splitting

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(f_var,c_var,test_size=0.2,stratify=c_var) #stratified sampling

In [25]:
from sklearn.neighbors import KNeighborsClassifier,KNeighborsRegressor

In [27]:
knn = KNeighborsClassifier(n_neighbors=1)
model = knn.fit(x_train,y_train)

In [29]:
y_cap = model.predict(x_test)

In [30]:
from sklearn.metrics import accuracy_score

In [31]:
accuracy_score(y_test,y_cap)

0.9666666666666667

In [32]:
acc_dict = {}
for k in range(1,120,2):
    knn = KNeighborsClassifier(n_neighbors=k)
    model = knn.fit(x_train,y_train)
    y_cap = model.predict(x_test)
    score = accuracy_score(y_test,y_cap)
    acc_dict[k] = score

In [33]:
acc_dict

{1: 0.9666666666666667,
 3: 0.9666666666666667,
 5: 0.9666666666666667,
 7: 1.0,
 9: 1.0,
 11: 1.0,
 13: 1.0,
 15: 1.0,
 17: 1.0,
 19: 1.0,
 21: 1.0,
 23: 0.9666666666666667,
 25: 0.9666666666666667,
 27: 0.9666666666666667,
 29: 0.9666666666666667,
 31: 0.9666666666666667,
 33: 0.9666666666666667,
 35: 0.9666666666666667,
 37: 0.9666666666666667,
 39: 0.9666666666666667,
 41: 0.9333333333333333,
 43: 0.9333333333333333,
 45: 0.9666666666666667,
 47: 0.9666666666666667,
 49: 0.9666666666666667,
 51: 0.9666666666666667,
 53: 0.9666666666666667,
 55: 0.9666666666666667,
 57: 0.9666666666666667,
 59: 0.9666666666666667,
 61: 0.9333333333333333,
 63: 0.9333333333333333,
 65: 0.9666666666666667,
 67: 0.9666666666666667,
 69: 0.9333333333333333,
 71: 0.9333333333333333,
 73: 0.9333333333333333,
 75: 0.9333333333333333,
 77: 0.9,
 79: 0.9,
 81: 0.6666666666666666,
 83: 0.6333333333333333,
 85: 0.6333333333333333,
 87: 0.6333333333333333,
 89: 0.6666666666666666,
 91: 0.6666666666666666,
 93: 0.6666666666666666,
 95: 0.6666666666666666,
 97: 0.6333333333333333,
 99: 0.6333333333333333,
 101: 0.6333333333333333,
 103: 0.6333333333333333,
 105: 0.6333333333333333,
 107: 0.6333333333333333,
 109: 0.6333333333333333,
 111: 0.6333333333333333,
 113: 0.6333333333333333,
 115: 0.6,
 117: 0.6,
 119: 0.5333333333333333}